<!DOCTYPE HTML>
<HTML lang="pt-br">
<head>
				<meta charset="utf-8"/>
				<title> INICIAL</title>
				<link rel="stylesheet" type="text/css" href="style/maktub.css">

</head>

<body>
<div id="container_tela_inicial">
 

   <div id="container_inicial">

		<!--rodape-->
	<div id="footer">
			<div id="footer_redes">
				         <ul>
				   <li><a href=""><font color="silver">End:Rua Mieceslau Jaciocha, Nº570</a></li>
			       <li><a href=""><font color="silver">Araucaria-PR</a></li>
			       <li><a href=""><font color="white">Contato:41-9967 4577</a></li>
			             </ul>			
			</div>
			
			<div id="footer_redes2">
				<img src="image/icone2.png">
			</div> 
			<div id="footer_redes3">
				<img src="image/icone3.png">
			</div>
			<div id="footer_redes4">
				<img src="image/icone4.png">
			</div>
			<div id="footer_redes5">
				<img src="image/icone.png">
			</div>

			
    </div>
  </div>
</div>
</body>
</html>
</body>
</HTML> 
	