<!DOCTYPE HTML>
<HTML lang="pt-br">
<head>
				<meta charset="utf-8"/>
				<title> INICIAL</title>
				<link rel="stylesheet" type="text/css" href="style/maktub.css">

</head>

<body>
<div id="container_tela_inicial">
 

   <div id="container_inicial">


		<!--MENU-->
		<div id="menu_inicial"> 
			
				
			
			<ul id="menu_lista_inicial">                 <!--menu-->
			<li><span class="home"></span><a href="file:///C:/Users/Jackson/Desktop/maktub/menu.html"></a></li>
			<li><a href="file:///C:/Users/Jackson/Desktop/maktub/contato.html"><font color="silver">CONTATO</a></li>
			<li><a href="file:///C:/Users/Jackson/Desktop/maktub/localizaçao.html"><font color="silver">LOCALIZAÇÃO</a></li>
			<li><a href="file:///C:/Users/Jackson/Desktop/maktub/cadastro.html"><font color="silver">CADASTRE-SE</a></li>
			</ul>
			<div id="icone_casa_inicial">
			<a href="C:\Users\Jackson\Desktop\maktub\menu.html"><img src="image/home2.png"></a>
			</div>
		</div>


  </div>
</div>
</body>
</html>
</body>
</HTML> 
	